body {
    font-family: sans-serif;
    padding: 32px;
    max-width: 800px;
    margin: auto;
    background: #f8f9fa;
}

#quote {
    font-size: 24px;
    margin-bottom: 16px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
}

#inputBox {
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    resize: none;
}

#timer {
    font-weight: bold;
    margin-top: 16px;
    font-size: 19.2px;
}

#wpm, #accuracy {
    margin-top: 24px;
    font-size: 17.6px;
}

#retryBtn, #newQuote {
    margin-top: 16px;
    padding: 9.6px 19.2px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#retryBtn:disabled {
    margin-top: 16px;
    padding: 9.6px 19.2px;
    font-size: 16px;
    background: #7499c1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: not-allowed;
}

#newQuote:disabled {
    margin-top: 16px;
    padding: 9.6px 19.2px;
    font-size: 16px;
    background: #7499c1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: not-allowed;
}

#bestScore {
    margin-top: 24px;
    font-size: 15.2px;
    color: #555;
}

.highlight span.correct {
    color: green;
}

.highlight span.incorrect {
    color: red;
}
